<!doctype html>
<html ng-app="myNeighTool" lang="en">
	<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ng-app: myNeighTool;" lang="en" ng-controller="SiteConstantsListCtrl"> <![endif]-->
	<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8 ng-app: myNeighTool;" lang="en" ng-controller="SiteConstantsListCtrl"> <![endif]-->
	<!--[if IE 8]> <html class="no-js lt-ie9 ng-app: myNeighTool;" lang="en" ng-controller="SiteConstantsListCtrl"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js ng-app: myNeighTool;" lang="en" ng-controller="SiteConstantsListCtrl"> <!--<![endif]-->
	<head>
		</script> <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="">
		<link rel="icon" type="image/png" href="./dist/img/favicon.png" />
	
	    <title>MyNeighTool</title>
	
	    <!-- Bootstrap core CSS -->
	    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="./dist/css/jumbotron.css" rel="stylesheet">
	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.js"></script>
	    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	    <script src="./dist/js/bootstrap.min.js"></script>
	    <script src="./dist/js/config.js"></script>
	
	    <!-- Just for debugging purposes. Don't actually copy this line! -->
	    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsO96nmOiM5A5mef1oNv4PZoETDWvfJ88&sensor=false"></script>
	</head>
	
	<body onload="initialize()" ng-controller="SiteConstantsListCtrl">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href={{constant.siteMainPage}} ng-repeat="constant in constants">{{constant.siteName}}</a>
				</div>
				<div class="navbar-collapse collapse">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Rechercher">
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
	        			<li><a href="#">Ajouter un objet</a></li>
	        			<li><a href="#">Mes messages <span class="badge">0</span></a></li>
        				<li><a href="#">Mon compte</a></li>
        				<li><a href="#">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="container" style="margin-top:30px;">
			<div class="col-md-3 well">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="#" data-toggle="modal" data-target="#newMessageModal"><span class="glyphicon glyphicon-envelope"></span> Nouveau message</a></li>
					<hr />
					<li class="active"><a href="#"><span class="glyphicon glyphicon-inbox"></span> Boite de réception <span class="badge pull-right">0</span></a></li>
					<li><a href="#">Messages envoyés</a></li>
				</ul>
			</div> 
			<div class="col-md-9">
				<ol class="breadcrumb">
					<li><a href="#">Accueil</a></li>
					<li class="active">Boite de réception (4/50 messages)</li>
				</ol>
				
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="text-align:center;" width="20">Expéditeur</th>
								<th style="text-align:center;" width="55%">Sujet</th>
								<th style="text-align:center;" width="15%">Date</th>
								<th style="text-align:center;" width="15%">Actions</th>
							</tr>
						</thead>
						<tbody id="accordion">
							<tr style="vertical-align:middle;">
								<td class="perfectCenter">Utilisateur 1</td>
								<td class="perfectCenter">
									<strong><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Objet test numéro 1</a></strong>
									<div id="collapseOne" class="panel-collapse collapse">
										<hr />
										<div style="text-align:justify !important">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</td>
								<td class="perfectCenter">il y a 28 minutes</td>
								<td class="perfectCenter">
									<div class="btn-group">
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</td>
							</tr>
							<tr style="vertical-align:middle;">
								<td class="perfectCenter">Utilisateur 1</td>
								<td class="perfectCenter">
									<strong><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Objet test numéro 1</a></strong>
									<div id="collapseFour" class="panel-collapse collapse">
										<hr />
										<div style="text-align:justify !important">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</td>
								<td class="perfectCenter">il y a 8 heures</td>
								<td class="perfectCenter">
									<div class="btn-group">
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</td>
							</tr>
							<tr style="vertical-align:middle;">
								<td class="perfectCenter">Utilisateur 3</td>
								<td class="perfectCenter">
									<strong><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Objet test numéro 1</a></strong>
									<div id="collapseTwo" class="panel-collapse collapse">
										<hr />
										<div style="text-align:justify !important">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</td>
								<td class="perfectCenter">il y a 2 semaines</td>
								<td class="perfectCenter">
									<div class="btn-group">
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</td>
							</tr>
							<tr style="vertical-align:middle;">
								<td class="perfectCenter">Utilisateur 64</td>
								<td class="perfectCenter">
									<strong><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Objet test numéro 1</a></strong>
									<div id="collapseThree" class="panel-collapse collapse">
										<hr />
										<div style="text-align:justify !important">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
										</div>
									</div>
								</td>
								<td class="perfectCenter">28/01/2014</td>
								<td class="perfectCenter">
									<div class="btn-group">
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span></button>
										<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			
				<div class="row">
					<div class="col-md-12" style="text-align:center;">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Composer un nouveau message</h4>
					</div>
					<form action="#" class="form-horizontal" role="form">
						<div class="modal-body">
							<div class="form-group">
								<label for="userTo" class="col-sm-3 control-label">Destinataire</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="userTo" placeholder="Nom d'utilisateur du destinataire" />
								</div>
							</div>
							<div class="form-group">
								<label for="subjectTo" class="col-sm-3 control-label">Sujet</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="subjectTo" placeholder="Sujet du message" />
								</div>
							</div>
							<div class="form-group">
								<label for="messageTo" class="col-sm-3 control-label">Message</label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="10" id="messageTo" placeholder="Entrez votre message"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							<button type="button" class="btn btn-info">Envoyer</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container">
			<hr />
			<footer>
				<p>Copyrights &copy; MyNeighTool 2014 | <span ng-repeat="botm in botmenu"><a href="{{botm.linkUrl}}">{{botm.linkName}}</a></span>
				</p>
			</footer>
		</div>
	</body>
</html>
